.container {
  background-color: white;
}

body {
  background-color: gray !important;
}

table {
    font-size: 13px;
}
.btn-sm {
  line-height: 0.8 !important;
}

input {
  border: 3px solid black !important;
}

.container-home {
  background-color: gray !important;
}

h1 {
  font-size: 3rem !important;
}
